@import "tailwindcss";

@plugin 'tailwindcss-animate';
@plugin '@tailwindcss/typography';

@theme {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-background: hsl(var(--background));
  --color-border: hsl(var(--border));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-dg-background: rgb(235, 235, 231);
  --color-dg-dark-green: #605d51;
  --color-dg-light-green: #d0cdc3;
  --color-dg-modal-text: #3c3a2c;
  --color-dg-off-black: #3c3a2c;
  --color-foreground: hsl(var(--foreground));
  --color-input: hsl(var(--input));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-ring: hsl(var(--ring));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar: hsl(var(--sidebar-background));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-ring: hsl(var(--sidebar-ring));
  --color-success: hsl(var(--success));
  --color-success-foreground: hsl(var(--success-foreground));

  --font-mono:
    var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
  --font-sans:
    var(--font-abel), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-serif: var(--font-goudy), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-skia:
    var(--font-skia), var(--font-abel), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  --grid-column-end-1: 1;
  --grid-column-end-2: 2;
  --grid-column-end-3: 3;
  --grid-column-end-4: 4;
  --grid-column-end-5: 5;
  --grid-column-end-6: 6;
  --grid-column-end-7: 7;
  --grid-column-end-8: 8;
  --grid-column-end-9: 9;
  --grid-column-end-10: 10;
  --grid-column-end-11: 11;
  --grid-column-end-12: 12;
  --grid-column-end-13: 13;
  --grid-column-end-14: 14;
  --grid-column-end-15: 15;
  --grid-column-end-16: 16;
  --grid-column-end-17: 17;
  --grid-column-end-18: 18;
  --grid-column-end-19: 19;
  --grid-column-end-20: 20;
  --grid-column-end-21: 21;
  --grid-column-end-22: 22;
  --grid-column-end-23: 23;
  --grid-column-end-24: 24;
  --grid-column-end-25: 25;
  --grid-column-end-auto: auto;

  --grid-column-start-1: 1;
  --grid-column-start-2: 2;
  --grid-column-start-3: 3;
  --grid-column-start-4: 4;
  --grid-column-start-5: 5;
  --grid-column-start-6: 6;
  --grid-column-start-7: 7;
  --grid-column-start-8: 8;
  --grid-column-start-9: 9;
  --grid-column-start-10: 10;
  --grid-column-start-11: 11;
  --grid-column-start-12: 12;
  --grid-column-start-13: 13;
  --grid-column-start-14: 14;
  --grid-column-start-15: 15;
  --grid-column-start-16: 16;
  --grid-column-start-17: 17;
  --grid-column-start-18: 18;
  --grid-column-start-19: 19;
  --grid-column-start-20: 20;
  --grid-column-start-21: 21;
  --grid-column-start-22: 22;
  --grid-column-start-23: 23;
  --grid-column-start-24: 24;
  --grid-column-start-25: 25;
  --grid-column-start-auto: auto;

  --grid-template-columns-1: repeat(1, minmax(0, 1fr));
  --grid-template-columns-2: repeat(2, minmax(0, 1fr));
  --grid-template-columns-3: repeat(3, minmax(0, 1fr));
  --grid-template-columns-4: repeat(4, minmax(0, 1fr));
  --grid-template-columns-5: repeat(5, minmax(0, 1fr));
  --grid-template-columns-6: repeat(6, minmax(0, 1fr));
  --grid-template-columns-7: repeat(7, minmax(0, 1fr));
  --grid-template-columns-8: repeat(8, minmax(0, 1fr));
  --grid-template-columns-9: repeat(9, minmax(0, 1fr));
  --grid-template-columns-10: repeat(10, minmax(0, 1fr));
  --grid-template-columns-11: repeat(11, minmax(0, 1fr));
  --grid-template-columns-12: repeat(12, minmax(0, 1fr));
  --grid-template-columns-24: repeat(24, minmax(0, 1fr));
  --grid-template-columns-none: none;
  --grid-template-columns-subgrid: subgrid;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  :root {
    --background: 60 9.1% 91.4%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --success: 142.1 70.6% 45.3%;
    --success-foreground: 210 40% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --sb-track-color: var(--muted);
    --sb-thumb-color: #525a4a;
    --sb-size: 10px;
  }

  * {
    @apply border-border ring-offset-2 ring-foreground! outline-offset-2 outline-ring/50;
  }

  html {
    font-size: 14px;
  }

  body {
    @apply bg-dg-background text-black leading-normal font-sans font-normal scroll-smooth;
    scroll-padding-top: 0px;
  }

  ::selection {
    @apply bg-foreground text-background;
  }

  .payload-richtext a {
    @apply underline underline-offset-4;
  }

  .richtext {
    @apply underline-offset-4;
  }

  .richtext > h2:nth-child(1),
  .richtext > h3:nth-child(1) {
    @apply leading-[0.8];
  }

  .richtext ol {
    @apply text-left self-center list-decimal list-inside;
  }

  .richtext ul {
    @apply text-left self-center list-disc list-inside;
  }

  .richtext h2 {
    @apply text-2xl;
  }

  .richtext h3 {
    @apply text-xl;
  }

  .richtext h4,
  .richtext h5,
  .richtext h6 {
    @apply text-lg;
  }

  .richtext strong {
    @apply font-semibold;
  }

  .richtext em {
    @apply italic;
  }

  .richtext a {
    @apply underline underline-offset-4;
  }

  [data-rmiz-modal-content] {
    @apply bg-dg-background;
  }

  .dg-section {
    h2 {
      @apply font-serif tracking-wider text-base md:text-lg lg:text-xl uppercase leading-relaxed mb-6 md:mb-8 text-balance;
    }

    h3 {
      @apply font-serif tracking-wider text-base lg:text-lg uppercase leading-relaxed mb-6 md:mb-8 text-balance;
    }

    p {
      @apply text-sm leading-relaxed;
    }

    p + p {
      @apply mt-6;
    }
  }
}

@layer segments {
  .segment {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .segment h2,
  .segment h3 {
    @apply uppercase text-lg font-serif text-balance tracking-widest;
  }

  .carousel-classnames .slide .ratio {
    @apply scale-75! opacity-70 transition-all;
  }

  .carousel-classnames .is-snapped .ratio {
    @apply scale-100! opacity-100;
  }

  .carousel-classnames.next .is-snapped {
    @apply w-3/4 origin-center! z-10;
  }

  .carousel-classnames.next .is-snapped {
    @apply w-3/4 origin-center!;
  }

  .carousel-classnames.next .slide .ratio {
    @apply scale-50 opacity-70 transition-all;
  }

  .carousel-classnames.next .is-snapped .ratio {
    @apply scale-[1.255]! opacity-100;
  }

  .carousel-classnames.next.musings .is-snapped .ratio {
    @apply scale-[1.4]! opacity-100;
  }

  .ws-section {
    @apply grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .section-fifteen {
    grid-template-areas:
      ". . . . . . . . . . . . . . copy copy copy copy copy . . . ."
      ". . heading heading heading heading heading heading heading . . . . . copy copy copy copy copy . . . .";
  }

  .section-sixteen {
    grid-template-areas:
      ". image image image image image . . heading heading heading . . . . . . . . . . . ."
      ". image image image image image . . . . . . copy copy copy copy . . . . . . .";
  }

  .ws-section.section-seventeen {
    grid-template-rows: auto;
    grid-template-areas: ". copy-one copy-one copy-one copy-one . . copy-two copy-two copy-two copy-two . . . . . . . image image image image image image";
  }
}

@layer sections {
  .section {
    @apply grid w-full;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ". . . . . . . . . . . . . . . . . . . . . . .";
  }

  .section-style-one {
    grid-template-areas: "image image image image image . . text text text text . . . . heading heading heading heading heading heading . .";
  }

  .section-style-two {
    grid-template-areas: ". heading heading heading heading heading . . . . . . . . . image image image image image image . .";
  }

  .section-style-three {
    grid-template-areas: ". . image image image image image . . text text text text . . . . heading heading heading heading . .";
  }

  .section-style-four {
    grid-template-areas: ". . heading heading heading . text text text text . . . . . . . image image image image image image";
  }

  .section-style-five {
    grid-template-areas: "image image image image image . . . . text-one text-one text-one . . . text-two text-two text-two . . . . .";
  }

  .section-style-six {
    grid-template-areas: ". . heading-and-text heading-and-text heading-and-text . text text text . . . . . . . image image image image image . .";
  }

  #content > section:first-child {
    @apply pt-8! md:pt-20!;
  }

  #content > section:last-child {
    @apply pb-8! md:pb-32!;
  }

  #content > section {
    @apply pb-8 md:py-20;
  }

  #content > section.no-padding {
    @apply p-0!;
  }

  mux-player:not(.musings) {
    --top-controls: none;
    --bottom-controls: none;
    --media-object-fit: cover;
    --media-object-position: center;
  }

  mux-player.musings::part(center play button) {
    display: none;
    background: transparent;
    margin-top: 20px;
    position: relative;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
/*
@utility col-end {
  grid-column-end: --value(--grid-column-end- *);
} */
